{% extends "base.html" %}
{% block title %} Shield Ticket Viewer {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .divTable {
        display: table;
        width: 100%;
        text-align: center;
    }
    .divTableRow {
        display: table-row;
    }
    .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
        background-color: #EEE;
        font-weight: bold;
    }
    .divTableCellUnstarted {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
        background-color: #85ecef;
    }
    .divTableCellWip {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
        background-color: #f0f085;
    }
    .divTableCellDone {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
        background-color: #85f195;
    }
    .divTableCell {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
    }
    .divTableBody {
        display: table-row-group;
    }
  </style>
{% endblock %}
{% block content %}
  <h1>Ticket Viewer</h1>
  <center>
    <div class="divTable">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableHead">Ticket ID</div>
          <div class="divTableHead">Created</div>
          <div class="divTableHead">Ticket Name</div>
          <div class="divTableHead">Assigned To</div>
          <div class="divTableHead">Progress</div>
          <div class="divTableHead">Due Date</div>
          <div class="divTableHead">Blocked?</div>
        </div>
      {% for ticket in sorted_tickets['unstarted'] %}
        <div class="divTableRow">
          <div class="divTableCellUnstarted"><a href="{{url_for('ticket_viewer.ticket', ticket_id=ticket['task']['id'])}}">{{ ticket['task']['id'] }}</a></div>
          <div class="divTableCellUnstarted">{{ ticket['task']['created_at'].date() }}</div>
          <div class="divTableCellUnstarted">{{ ticket['task']['name'] }}</div>
          <div class="divTableCellUnstarted">{{ ticket['task'].get('assigned_user', {}).get('name', 'Unassigned') }}</div>
          <div class="divTableCellUnstarted">{{ workflow_mapper[ticket['task']['workflow_stage_id']] }}</div>
          <div class="divTableCellUnstarted">{{ ticket['task']['due_date'] or '∞' }}</div>
          <div class="divTableCellUnstarted">{% if ticket['task']['block_reason'] %} True: {{ ticket['task']['block_reason'] }} {% else %} False {% endif %}</div>
        </div>
      {% endfor %}
      {% for ticket in sorted_tickets['wip'] %}
        <div class="divTableRow">
          <div class="divTableCellWip"><a href="{{url_for('ticket_viewer.ticket', ticket_id=ticket['task']['id'])}}">{{ ticket['task']['id'] }}</a></div>
          <div class="divTableCellWip">{{ ticket['task']['created_at'].date() }}</div>
          <div class="divTableCellWip">{{ ticket['task']['name'] }}</div>
          <div class="divTableCellWip">{{ ticket['task'].get('assigned_user', {}).get('name', 'Unassigned') }}</div>
          <div class="divTableCellWip">{{ workflow_mapper[ticket['task']['workflow_stage_id']] }}</div>
          <div class="divTableCellWip">{{ ticket['task']['due_date'] or '∞' }}</div>
          <div class="divTableCellWip">{% if ticket['task']['block_reason'] %} True: {{ ticket['task']['block_reason'] }} {% else %} False {% endif %}</div>
        </div>
      {% endfor %}
      {% for ticket in sorted_tickets['done'] %}
        <div class="divTableRow">
          <div class="divTableCellDone"><a href="{{url_for('ticket_viewer.ticket', ticket_id=ticket['task']['id'])}}">{{ ticket['task']['id'] }}</a></div>
          <div class="divTableCellDone">{{ ticket['task']['created_at'].date() }}</div>
          <div class="divTableCellDone">{{ ticket['task']['name'] }}</div>
          <div class="divTableCellDone">{{ ticket['task'].get('assigned_user', {}).get('name', 'Unassigned') }}</div>
          <div class="divTableCellDone">{{ workflow_mapper[ticket['task']['workflow_stage_id']] }}</div>
          <div class="divTableCellDone">{{ ticket['task']['due_date'] or '∞' }}</div>
          <div class="divTableCellDone">{% if ticket['task']['block_reason'] %} True: {{ ticket['task']['block_reason'] }} {% else %} False {% endif %}</div>
        </div>
      {% endfor %}
      </div>
    </div>
  </center>
{% endblock %}
