{% extends "base.html" %}
{% block title %} Shield Ticket Viewer {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Ticket Viewer</h1>
  <p class="important">
    {% for ticket in tickets %}
        <p>#{{ ticket['task']['id'] }}: {{ ticket['task']['name'] }} - {{ ticket['task'].get('assigned_user', {}).get('name', 'Unassigned') }} </p>
    {% endfor %}
  </p>
    <a href="{{ url_for('main.index') }}"> Back </a>
{% endblock %}
