{% extends "base.html" %}
{% block title %} Shield Dashboard {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Welcome to the Shield Dashboard!</h1>
  <center>
    <table>
      <tbody>
        <tr>
          <td><a href="{{ url_for('ticket_submitter.index') }}">Submit Ticket</a></td>
          <td><a href="{{ url_for('ticket_viewer.index') }}">View Tickets</a></td>
        </tr>
      </tbody>
    </table>
  </center>
  {% block footer %}
  {% endblock %}
{% endblock %}
