{% extends "base.html" %}
{% block title %} Shield Ticket Submitter {% endblock %}
{% block head %}
{{ super() }}
  <style type="text/css">
    .form {
        display: table;
        width: auto;
        text-align: left;
    }
    .formRow {
        display: table-row;
    }
    .formCell {
        vertical-align: top;
        display: table-cell;
        padding: 3px 10px;
    }
    .formBody {
        display: table-row-group;
    }
    textarea {
        resize: none;
    }
  </style>
<h1>Ticket Submitter</h1>
{% endblock %}
{% block content %}
<center>
  <form method="POST" action="{{ url_for('ticket_submitter.index') }}">
  {{ form.hidden_tag() }}
    <div class="form">
      <div class="formBody">
        <div class="formRow">
          <div class="formCell">{{ form.title.label }}</div>
          <div class="formCell">{{ form.title(size="65") }}</div>
          <div class="formCell">
            {% if form.title.errors %}
              {% for error in form.title.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="formRow">
          <div class="formCell">{{ form.submitted_by.label }}</div>
          <div class="formCell">{{ form.submitted_by(size="65") }}</div>
          <div class="formCell">
            {% if form.submitted_by.errors %}
              {% for error in form.submitted_by.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="formRow">
          <div class="formCell">{{ form.due_date.label }}</div>
          <div class="formCell">{{ form.due_date(size="65") }}</div>
          <div class="formCell">
            {% if form.due_date.errors %}
              {% for error in form.due_date.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="formRow">
          <div class="formCell">{{ form.description.label }}</div>
          <div class="formCell">{{ form.description(cols="63", rows="20") }}</div>
          <div class="formCell">
            {% if form.description.errors %}
              {% for error in form.description.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <input type="submit" value="Submit" size="500">
  </form>
</center>
{% endblock %}
