{% extends "base.html" %}
{% block title %} Shield Ticket Submitter {% endblock %}
{% block head %}
{{ super() }}
  <style type="text/css">
    .form {
        display: table;
        width: 50%;
        text-align: left;
    }
    .formRow {
        display: table-row;
    }
    .formCell {
        vertical-align: top;
        display: table-cell;
        padding: 3px 10px;
    }
    .formBody {
        display: table-row-group;
    }
    textarea {
        resize: none;
    }
  </style>
<h1>Ticket Submitter</h1>
{% endblock %}
{% block content %}
<center>
    <h2>Thank you for submitting your ticket!</h2>
    <div class="form">
      <div class="formBody">
        <div class="formRow">
          <div class="formCell">ID</div>
          <div class="formCell">{{ ticket['task']['id'] }}</div>
        </div>
        <div class="formRow">
          <div class="formCell">{{ form.title.label }}</div>
          <div class="formCell">{{ ticket['task']['name'] }}</div>
        </div>
        <div class="formRow">
          <div class="formCell">{{ form.due_date.label }}</div>
          <div class="formCell">{{ ticket['task']['due_date'] or '∞' }}</div>
        </div>
        <div class="formRow">
          <div class="formCell">{{ form.description.label }}</div>
          <div class="formCell">{{ ticket['task']['description'] }}</div>
        </div>
      </div>
    </div>
  </form>
  <p>
  <a href="{{ url_for('ticket_submitter.index') }}"> Submit Another </a>
  <a href="{{ url_for('ticket_viewer.index') }}"> View Tickets </a>
</center>
<p>
<a href="{{ url_for('main.index') }}"> Back </a>
{% endblock %}
